<div class="row">
	<div class="col col-md-4 col-md-offset-4">
		<div class="well">
			<h2>Log In</h2>
				<%= form_for(:session, url: login_path) do |f| %> 
  				<div class="form-group">
  					<%= f.email_field :email, :placeholder => "Email", autofocus: true ,class: "form-control" %> 
  					<%= f.password_field :password, :placeholder => "Password", :autocomplete => "off", class: "form-control" %> 
  				</div>
  				<%= f.submit "Log in", class: "btn btn-submit btn-primary" %>
				<% end %>
			</div>
	</div>
</div>

