<div class="jumbotron">
	<h1><%= icon('cutlery') %> Your Recipes</h1>
	<p>Everything in one place everywhere.</p>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= link_to "Mains", "#" %>
	</div>
</div>
